body {
  font-family: 'Roboto', sans-serif;
}

#chart {
  border: solid;
  margin: 0 auto;
  padding: 30px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.creator input {
  margin: 10px 20px 10px 0px;
}

.dataLogger {
  border: solid;
  float: left;
  margin-right: 40px;
  padding: 30px;
}

.dropdown {
  width: 50%
}

.eventCreator {
  border: solid;
  clear: both;
  float: left;
  margin-left: 35px;
  margin-right: 40px;
  padding: 30px;
}

.features {
  text-align: center;
}

.highlights {
  padding: 30px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.login {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.loginSignup {
  margin-bottom: 40px;
  padding: 30px;
  text-align: center;
}

.loginSignup h1 {
  margin-bottom: 30px;
}

.main {
  padding: 20px 20px 20px 20px;
}

.rowA {
  margin-bottom: 40px;
}

.rowB {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.signup {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.table {
  border: solid;
  clear: both;
  padding: 30px;
}

.viewHabitData {
  border: solid;
  float: left;
  padding: 30px;
}

.quote {
  background-color: #f8f8f8;
  color: #404040;
  padding: 30px;
  text-align: center;
}

.use {
  text-align: center;
}