body {
  font-family: 'Roboto', sans-serif;
}

.eventCreator {
  border: solid;
  float: left;
  margin-left: 35px;
  margin-right: 40px;
  padding: 30px;
}

.dataLogger {
  border: solid;
  float: left;
  margin-right: 40px;
  padding: 30px;
}

.viewHabitData {
  border: solid;
  float: left;
  padding: 30px;
}

.rowA {
  margin-bottom: 40px;
}

.rowB {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.table {
  border: solid;
  clear: both;
  padding: 30px;
}

#chart {
  border: solid;
  margin: 0 auto;
  padding: 30px;
}

.main {
  padding: 20px 20px 20px 20px;
}

.dropdown {
  width: 50%
}

.creator input {
  margin: 10px 20px 10px 0px;
}